{% extends "base.html" %}

{% block app_content %}
    <h1>Hi {{ current_user.username }},</h1>

    <h3>These are the assets we are actively researching / investing in. 
        <br> Please click on them to read our thesis and our updates:</h3>

    {% for asset in assets %}

        <a href="{{ url_for('asset', asset_name=asset.asset_name) }}">{{ asset.asset_name }}</a> <br>


    {% endfor %}

    <hr>

    <h3>Latest updates:</h3>
    
    
    {% for asset_update in asset_updates %}

    {{ asset_update }}
    {{ asset_update.asset.asset_name }}
    {{ asset_update.asset_update_title }}
    {{ asset_update.asset_update_content }}
    {{ asset_update.timestamp }}

    <div>
        <p> {{ moment(asset_update.timestamp).format('LLL') }} - {{ asset_update.asset.asset_name }} -
        <a href="{{ url_for('asset_update_detail', asset_name=asset_update.asset.asset_name, asset_update_title=asset_update.asset_update_title) }}">{{ asset_update.asset_update_title }}</a></p>
    </div>

    {% endfor %}

{% endblock %}